.list {
    margin-top: 20px;
    display: grid;
  grid-template-areas: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 0 20px;
  }
  
  .item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 12px;
    background-color: #1E1E1E;
    border: 1px solid #333;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .item:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  }
  

  .author {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #FF4081;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
  }
  
  .author:hover {
    color: #FF80AB;
  }
  
  /* Контент */
  .content {
    text-align: justify;
    font-size: 15px;
    line-height: 1.6;
    color: #D3D3D3;
    font-weight: 400;
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }
  
  .content:hover {
    opacity: 1;
  }
  

  .error {
    color: #FF6F61;
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
    text-align: center;
    letter-spacing: 1px;
  }